
.select-fake {
    border: 1px solid #000;
    padding: 3px 24px 2px 6px;
    cursor: default;
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-content: stretch;
    align-items: stretch;
    justify-content: stretch;
    justify-content: stretch;
    position: relative;
    overflow: visible;

    &:after {
        display: block;
        content: "";
        width: 13px;
        height: 9px;
        position: absolute;
        z-index: 2;
        top: 50%;
        margin: -5px 0 0 0;
        right: 3px;
        background: url("./sprites-png/ico-combo-closed.png");
    }
}

.select-fake-value {

}

.select-fake-menu {
    position: absolute;
    left: -1px;
    top: 100%;
    right: auto;
    bottom: auto;
    border: none;
    min-width: 100%;
    overflow: hidden;
    //max-height: 0px;
    border: 1px solid #000;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.2s ease-in-out;

    .opened & {
        border: 1px solid #000;
        transform: scaleY(1);
    }
}

.select-fake-item {
    padding: 3px 6px 2px 6px;

    &:hover {
        background-color: lightgray;
    }

    &.selected {
        background-color: lightgray;
    }
}
